<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>He Tiemen <%= title %></p>

  <% for(var i = 0; i < rows.length; i++){ var wijk = rows[i]; %>

    <li><%= wijk.buurtnaam %></li>

  <% } %>
  </body>
</html>
